<div class="container">
  <form action="/submit" method="POST">
    <label for="title">Title: 
    <input id="title" type="text" name="post[title]"></label>    
    <label for="url">URL: 
    <input id="url" type="text" name="post[url]"></label>
    <input type="submit" value="Submit Post">
  </form>

</div>
